In [1]:
import os
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "cfbd.settings")
import django
django.setup()

from collections import defaultdict
import random

import pandas as pd

from main import models

In [2]:
SEASON = 2020

In [3]:
master = pd.read_csv("masterSchedule{}.csv".format(SEASON), index_col=0)
master

,ARK,ASU,AUB,BAMA,BAY,BC,CAL,CLEM,COL,CUSE,...,UTAH,UVA,VAND,VT,WAKE,WASH,WISC,WSU,WVU,ZONA
ARK,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
ASU,0,0,0,0,0,0,1,0,1,0,...,1,0,0,1,0,1,0,1,0,1
AUB,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
BAMA,1,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BAY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WASH,1,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
WISC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WSU,0,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,1,0,0,0,0
WVU,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
ZONA,0,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0

## Error Checking

In [4]:
for c in master.columns:
    if master[c].sum() != 12:
        print(c, master[c].sum())

In [5]:
for r in master.index:
    if master.loc[r].sum() != 12:
        print(r, master.loc[r].sum())

## Initialize Weekly Matrix

In [6]:
weekly = pd.DataFrame([["" for i in range(1, 15+1)] for j in range(64)], columns=range(1, 15+1))
weekly.index = master.index
weekly

     1  2  3  4  5  6  7  8  9  10 11 12 13 14 15
ARK
ASU
AUB
BAMA
BAY
...  .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
WASH
WISC
WSU
WVU
ZONA

[64 rows x 15 columns]

## Weekly Schedule

In [7]:
for i, r in weekly.iterrows():
    print(i)
    #print(r)
    s = models.School.objects.get(abbreviation=i)
    opponents = master.loc[master[i]==1,i].keys()
    print(opponents)
    
    for abb in opponents:
        
        #print(abb)
        if abb not in r.values and "@" + abb not in r.values:
            o = models.School.objects.get(abbreviation=abb)
            
            if o.conference != s.conference:  # noncon
                week = random.randint(1, 5)
                tries = 0
                while r[week] != "" or weekly.at[abb, week] != "":
                    week = random.randint(1, 5)
                    tries += 1
                    
                    if tries >= 100:
                        break
                
                if tries < 100:
                    weekly.at[i, week] = abb
                    weekly.at[abb, week] = i
                    #print(week)

                    # H/A
                    if random.randint(0,1):
                        weekly.at[i, week] = "@" + abb
                    else:
                        weekly.at[abb, week] = "@" + i
                else:
                    print("SCHEDULING ERROR:", abb)
            
            else:  # conference
                week = random.randint(4, 15)
                tries = 0
                while r[week] != "" or weekly.at[abb, week] != "":
                    week = random.randint(4, 15)
                    tries += 1
                    
                    if tries >= 100:
                        break
                
                if tries < 100:
                    weekly.at[i, week] = abb
                    weekly.at[abb, week] = i
                    #print(week)

                    # H/A
                    if random.randint(0,1):
                        weekly.at[i, week] = "@" + abb
                    else:
                        weekly.at[abb, week] = "@" + i
                else:
                    print("SCHEDULING ERROR:", abb)
        else:
            pass
            #print("already scheduled")

    print(weekly.loc[i])
    print()
    #break

ARK
Index(['AUB', 'BAMA', 'KSU', 'LSU', 'MISS', 'MIZZ', 'MSST', 'SCAR', 'TAMU',
       'TENN', 'USC', 'WASH'],
      dtype='object')
1     @WASH
2
3      @USC
4     @MIZZ
5      @KSU
6
7      BAMA
8       LSU
9      TENN
10     @AUB
11    @SCAR
12     TAMU
13
14    @MSST
15    @MISS
Name: ARK, dtype: object

ASU
Index(['CAL', 'COL', 'ORE', 'PITT', 'SCAR', 'UCLA', 'USC', 'UTAH', 'VT',
       'WASH', 'WSU', 'ZONA'],
      dtype='object')
1        VT
2
3     @PITT
4     @SCAR
5      UCLA
6     @WASH
7
8      @COL
9
10     UTAH
11     @WSU
12    @ZONA
13     @USC
14     @CAL
15     @ORE
Name: ASU, dtype: object

AUB
Index(['ARK', 'BAMA', 'FLA', 'IND', 'KAN', 'LSU', 'MISS', 'MSST', 'TAMU',
       'TTU', 'UGA', 'VAND'],
      dtype='object')
1       IND
2       TTU
3       KAN
4      @FLA
5      MISS
6      TAMU
7       LSU
8
9
10      ARK
11     MSST
12     BAMA
13      UGA
14
15    @VAND
Name: AUB, dtype: object

BAMA
Index(['ARK', 'AUB', 'BC', 'CAL', 'FLA', 'KENT', 'LSU', 'MISS', 'MSST', 'PURD',
       'TAMU', 'UGA'],
      dtype='object')
1     @CAL
2
3       BC
4     PURD
5      LSU
6     KENT
7     @ARK
8
9     TAMU
10    MSST
11     FLA
12    @AUB
13    MISS
14     UGA
15
Name: BAMA, dtype: object

BAY
Index(['ISU', 'KAN', 'KSU', 'MISS', 'OKLA', 'OKST', 'TCU', 'TEX', 'TTU',
       'UCLA', 'UNC', 'WVU'],
      dtype='object')
1       UNC
2      UCLA
3      MISS
4      @ISU
5      OKLA
6
7       TCU
8     @OKST
9      @WVU
10     @KSU
11      TEX
12      TTU
13
14
15     @KAN
Name: BAY, dtype: object

BC
Index(['BAMA', 'CLEM', 'CUSE', 'DUKE', 'FSU', 'ILL', 'LOU', 'MIA', 'NCST',
       'TCU', 'UNC', 'WAKE'],
      dtype='object')
1      @ILL
2
3     @BAMA
4      @TCU
5       FSU
6      CLEM
7     @DUKE
8
9      WAKE
10     @LOU
11     CUSE
12     NCST
13
14     @UNC
15      MIA
Name: BC, dtype: object

CAL
Index(['ASU', 'BAMA', 'MARY', 'ORE', 'ORST', 'STAN', 'TAMU', 'UCLA', 'USC',
       'WASH', 'WSU', 'ZONA'],
      dtype='object')
1      BAMA
2
3     @TAMU
4
5     @MARY
6      @USC
7      @WSU
8      WASH
9       ORE
10     STAN
11     ORST
12
13     ZONA
14      ASU
15    @UCLA
Name: CAL, dtype: object

CLEM
Index(['BC', 'CUSE', 'DUKE', 'FSU', 'IOWA', 'LOU', 'MIA', 'NCST', 'ORE',
       'RUTG', 'UVA', 'WAKE'],
      dtype='object')
1     @IOWA
2      @ORE
3
4      RUTG
5
6       @BC
7       LOU
8
9       UVA
10      FSU
11      MIA
12     DUKE
13    @CUSE
14     WAKE
15     NCST
Name: CLEM, dtype: object

COL
Index(['ASU', 'MIZZ', 'NEB', 'ORST', 'PITT', 'STAN', 'UCLA', 'USC', 'UTAH',
       'WASH', 'WSU', 'ZONA'],
      dtype='object')
1       NEB
2
3
4      PITT
5      MIZZ
6     @STAN
7     @UTAH
8       ASU
9     @WASH
10     UCLA
11     ZONA
12    @ORST
13     @WSU
14     @USC
15
Name: COL, dtype: object

CUSE
Index(['BC', 'CLEM', 'FSU', 'GT', 'IOWA', 'LOU', 'MISS', 'NCST', 'NEB', 'UNC',
       'VT', 'WAKE'],
      dtype='object')
1     @MISS
2      IOWA
3      @NEB
4       @GT
5       @VT
6
7       UNC
8
9      @LOU
10
11      @BC
12    @WAKE
13     CLEM
14     NCST
15      FSU
Name: CUSE, dtype: object

DUKE
Index(['BC', 'CLEM', 'FSU', 'GT', 'KENT', 'MIA', 'PITT', 'PSU', 'STAN', 'UNC',
       'UVA', 'VT'],
      dtype='object')
1       PSU
2      STAN
3      KENT
4       FSU
5      @MIA
6        GT
7        BC
8     @PITT
9      @UNC
10      @VT
11
12    @CLEM
13     @UVA
14
15
Name: DUKE, dtype: object

FLA
Index(['AUB', 'BAMA', 'KENT', 'MISS', 'MIZZ', 'NEB', 'OKLA', 'SCAR', 'TENN',
       'UGA', 'VAND', 'WVU'],
      dtype='object')
1       WVU
2      OKLA
3
4       AUB
5      @NEB
6     @TENN
7     @MISS
8      MIZZ
9
10
11    @BAMA
12    @VAND
13    @KENT
14     SCAR
15      UGA
Name: FLA, dtype: object

FSU
Index(['BC', 'CLEM', 'CUSE', 'DUKE', 'KAN', 'LOU', 'NCST', 'OHST', 'PITT',
       'UVA', 'WAKE', 'WASH'],
      dtype='object')
1       KAN
2     @OHST
3      WASH
4     @DUKE
5       @BC
6
7
8     @WAKE
9     @PITT
10    @CLEM
11    @NCST
12     @UVA
13
14     @LOU
15    @CUSE
Name: FSU, dtype: object

GT
Index(['CUSE', 'DUKE', 'LOU', 'MIA', 'NCST', 'PITT', 'UCLA', 'UGA', 'UNC',
       'UVA', 'VAND', 'VT'],
      dtype='object')
1       UGA
2     @VAND
3     @UCLA
4      CUSE
5      @UNC
6     @DUKE
7
8       UVA
9      NCST
10
11      @VT
12     @MIA
13     @LOU
14     PITT
15
Name: GT, dtype: object

ILL
Index(['BC', 'IND', 'IOWA', 'MARY', 'MICH', 'MINN', 'MIZZ', 'NEB', 'NW',
       'PURD', 'SCAR', 'WISC'],
      dtype='object')
1        BC
2      MIZZ
3     @SCAR
4      MARY
5        NW
6       NEB
7
8      MICH
9      PURD
10     IOWA
11
12
13     MINN
14    @WISC
15      IND
Name: ILL, dtype: object

IND
Index(['AUB', 'ILL', 'MARY', 'MICH', 'MINN', 'MSST', 'MSU', 'NW', 'OHST',
       'PSU', 'RUTG', 'WAKE'],
      dtype='object')
1      @AUB
2      WAKE
3
4     @MSST
5
6     @MINN
7      RUTG
8      OHST
9      MICH
10     @PSU
11       NW
12     @MSU
13
14    @MARY
15     @ILL
Name: IND, dtype: object

IOWA
Index(['CLEM', 'CUSE', 'ILL', 'MINN', 'MSU', 'NEB', 'NW', 'OHST', 'PSU',
       'PURD', 'VAND', 'WISC'],
      dtype='object')
1      CLEM
2     @CUSE
3     @VAND
4
5      @MSU
6     @PURD
7     @WISC
8
9      @PSU
10     @ILL
11
12       NW
13      NEB
14     MINN
15    @OHST
Name: IOWA, dtype: object

ISU
Index(['BAY', 'KAN', 'KSU', 'LSU', 'OKLA', 'OKST', 'TCU', 'TEX', 'TTU', 'UGA',
       'UVA', 'WVU'],
      dtype='object')
1       UVA
2      @UGA
3      @LSU
4       BAY
5       TCU
6     @OKST
7
8      @TEX
9
10     @KAN
11     @KSU
12      WVU
13    @OKLA
14     @TTU
15
Name: ISU, dtype: object

KAN
Index(['AUB', 'BAY', 'FSU', 'ISU', 'KSU', 'OKLA', 'OKST', 'TCU', 'TEX', 'TTU',
       'WASH', 'WVU'],
      dtype='object')
1      @FSU
2
3      @AUB
4       TTU
5     @WASH
6       TEX
7      @KSU
8
9     @OKLA
10      ISU
11    @OKST
12     @TCU
13      WVU
14
15      BAY
Name: KAN, dtype: object

KENT
Index(['BAMA', 'DUKE', 'FLA', 'LOU', 'LSU', 'MIZZ', 'MSST', 'ORST', 'SCAR',
       'TENN', 'UGA', 'VAND'],
      dtype='object')
1       LOU
2
3     @DUKE
4     @ORST
5      SCAR
6     @BAMA
7     @VAND
8     @MSST
9      @UGA
10      LSU
11
12    @TENN
13      FLA
14
15     MIZZ
Name: KENT, dtype: object

KSU
Index(['ARK', 'BAY', 'ISU', 'KAN', 'MIA', 'OKLA', 'OKST', 'TCU', 'TEX', 'TTU',
       'UTAH', 'WVU'],
      dtype='object')
1
2
3     @MIA
4     UTAH
5      ARK
6     OKLA
7      KAN
8     @TCU
9
10     BAY
11     ISU
12    @TEX
13    OKST
14    @WVU
15     TTU
Name: KSU, dtype: object

LOU
Index(['BC', 'CLEM', 'CUSE', 'FSU', 'GT', 'KENT', 'MINN', 'NCST', 'OKLA',
       'PITT', 'UVA', 'WAKE'],
      dtype='object')
1     @KENT
2
3     @MINN
4     @OKLA
5       UVA
6     @PITT
7     @CLEM
8      NCST
9      CUSE
10       BC
11
12
13       GT
14      FSU
15     WAKE
Name: LOU, dtype: object

LSU
Index(['ARK', 'AUB', 'BAMA', 'ISU', 'KENT', 'MISS', 'MIZZ', 'MSST', 'PURD',
       'SCAR', 'TAMU', 'TEX'],
      dtype='object')
1      PURD
2
3       ISU
4      @TEX
5     @BAMA
6     @SCAR
7      @AUB
8      @ARK
9     @MIZZ
10    @KENT
11
12
13     TAMU
14    @MISS
15    @MSST
Name: LSU, dtype: object

MARY
Index(['CAL', 'ILL', 'IND', 'MICH', 'MINN', 'MSU', 'OHST', 'PSU', 'PURD',
       'RUTG', 'TEX', 'UVA'],
      dtype='object')
1
2      @UVA
3      @TEX
4      @ILL
5       CAL
6      @MSU
7
8       PSU
9     @RUTG
10    @MINN
11    @MICH
12    @OHST
13    @PURD
14      IND
15
Name: MARY, dtype: object

MIA
Index(['BC', 'CLEM', 'DUKE', 'GT', 'KSU', 'OKST', 'PITT', 'UNC', 'UVA', 'VT',
       'WAKE', 'WISC'],
      dtype='object')
1      OKST
2     @WISC
3       KSU
4      @UNC
5      DUKE
6       UVA
7     @WAKE
8
9
10
11    @CLEM
12       GT
13    @PITT
14      @VT
15      @BC
Name: MIA, dtype: object

MICH
Index(['ILL', 'IND', 'MARY', 'MSU', 'NCST', 'NEB', 'OHST', 'ORST', 'PSU',
       'PURD', 'RUTG', 'TTU'],
      dtype='object')
1      ORST
2     @NCST
3
4
5       TTU
6
7     @OHST
8      @ILL
9      @IND
10    @PURD
11     MARY
12    @RUTG
13      PSU
14      MSU
15     @NEB
Name: MICH, dtype: object

MINN
Index(['ILL', 'IND', 'IOWA', 'LOU', 'MARY', 'NEB', 'NW', 'PURD', 'RUTG', 'UVA',
       'WAKE', 'WISC'],
      dtype='object')
1     @WAKE
2
3       LOU
4       UVA
5     @PURD
6       IND
7
8        NW
9      @NEB
10     MARY
11     RUTG
12     WISC
13     @ILL
14    @IOWA
15
Name: MINN, dtype: object

MISS
Index(['ARK', 'AUB', 'BAMA', 'BAY', 'CUSE', 'FLA', 'LSU', 'MSST', 'TAMU',
       'TENN', 'VAND', 'ZONA'],
      dtype='object')
1      CUSE
2     @ZONA
3      @BAY
4
5      @AUB
6
7       FLA
8     @TENN
9
10     TAMU
11     VAND
12    @MSST
13    @BAMA
14      LSU
15      ARK
Name: MISS, dtype: object

MIZZ
Index(['ARK', 'COL', 'FLA', 'ILL', 'KENT', 'LSU', 'MSST', 'ORE', 'SCAR',
       'TENN', 'UGA', 'VAND'],
      dtype='object')

1
2      @ILL
3      @ORE
4       ARK
5      @COL
6     @MSST
7
8      @FLA
9       LSU
10
11      UGA
12    @SCAR
13    @TENN
14    @VAND
15    @KENT
Name: MIZZ, dtype: object

MSST
Index(['ARK', 'AUB', 'BAMA', 'IND', 'KENT', 'LSU', 'MISS', 'MIZZ', 'MSU',
       'PSU', 'TAMU', 'UGA'],
      dtype='object')
1      @MSU
2       PSU
3
4       IND
5       UGA
6      MIZZ
7     @TAMU
8      KENT
9
10    @BAMA
11     @AUB
12     MISS
13
14      ARK
15      LSU
Name: MSST, dtype: object

MSU
Index(['IND', 'IOWA', 'MARY', 'MICH', 'MSST', 'NEB', 'OHST', 'PSU', 'PURD',
       'RUTG', 'STAN', 'ZONA'],
      dtype='object')
1      MSST
2
3     @ZONA
4      STAN
5      IOWA
6      MARY
7      PURD
8       NEB
9
10
11     @PSU
12      IND
13     OHST
14    @MICH
15    @RUTG
Name: MSU, dtype: object

NCST
Index(['BC', 'CLEM', 'CUSE', 'FSU', 'GT', 'LOU', 'MICH', 'OHST', 'PITT', 'TCU',
       'VT', 'WAKE'],
      dtype='object')
1      @TCU
2      MICH
3
4     @OHST
5
6        VT
7      PITT
8      @LOU
9       @GT
10
11      FSU
12      @BC
13    @WAKE
14    @CUSE
15    @CLEM
Name: NCST, dtype: object

NEB
Index(['COL', 'CUSE', 'FLA', 'ILL', 'IOWA', 'MICH', 'MINN', 'MSU', 'NW',
       'OHST', 'PURD', 'WISC'],
      dtype='object')
1      @COL
2
3      CUSE
4     @WISC
5       FLA
6      @ILL
7        NW
8      @MSU
9      MINN
10
11     PURD
12
13    @IOWA
14     OHST
15     MICH
Name: NEB, dtype: object

NW
Index(['ILL', 'IND', 'IOWA', 'MINN', 'NEB', 'PSU', 'PURD', 'RUTG', 'TEX',
       'UCLA', 'WISC', 'WSU'],
      dtype='object')
1       TEX
2       WSU
3
4     @UCLA
5      @ILL
6     @RUTG
7      @NEB
8     @MINN
9
10     WISC
11     @IND
12    @IOWA
13
14      PSU
15    @PURD
Name: NW, dtype: object

OHST
Index(['FSU', 'IND', 'IOWA', 'MARY', 'MICH', 'MSU', 'NCST', 'NEB', 'ORST',
       'PSU', 'RUTG', 'WISC'],
      dtype='object')
1
2       FSU
3
4      NCST
5     @ORST
6       PSU
7      MICH
8      @IND
9      WISC
10    @RUTG
11
12     MARY
13     @MSU
14     @NEB
15     IOWA
Name: OHST, dtype: object

OKLA
Index(['BAY', 'FLA', 'ISU', 'KAN', 'KSU', 'LOU', 'OKST', 'TCU', 'TEX', 'TTU',
       'USC', 'WVU'],
      dtype='object')
1     @USC
2     @FLA
3
4      LOU
5     @BAY
6     @KSU
7      TEX
8      WVU
9      KAN
10
11     TTU
12
13     ISU
14    OKST
15    @TCU
Name: OKLA, dtype: object

OKST
Index(['BAY', 'ISU', 'KAN', 'KSU', 'MIA', 'OKLA', 'RUTG', 'TCU', 'TENN', 'TEX',
       'TTU', 'WVU'],
      dtype='object')
1      @MIA
2
3      RUTG
4     @TENN
5       WVU
6       ISU
7       TTU
8       BAY
9
10     @TCU
11      KAN
12
13     @KSU
14    @OKLA
15     @TEX
Name: OKST, dtype: object

ORE
Index(['ASU', 'CAL', 'CLEM', 'MIZZ', 'ORST', 'STAN', 'UCLA', 'USC', 'WASH',
       'WISC', 'WSU', 'ZONA'],
      dtype='object')
1
2      CLEM
3      MIZZ
4      ZONA
5      WISC
6       WSU
7      STAN
8     @ORST
9      @CAL
10
11     WASH
12      USC
13
14     UCLA
15      ASU
Name: ORE, dtype: object

ORST
Index(['CAL', 'COL', 'KENT', 'MICH', 'OHST', 'ORE', 'STAN', 'UCLA', 'UTAH',
       'WASH', 'WSU', 'ZONA'],
      dtype='object')
1     @MICH
2
3
4      KENT
5      OHST
6
7      ZONA
8       ORE
9      STAN
10     WASH
11     @CAL
12      COL
13     UCLA
14    @UTAH
15      WSU
Name: ORST, dtype: object

PITT
Index(['ASU', 'COL', 'DUKE', 'FSU', 'GT', 'LOU', 'MIA', 'NCST', 'UNC', 'UVA',
       'VT', 'WISC'],
      dtype='object')
1      WISC
2
3       ASU
4      @COL
5
6       LOU
7     @NCST
8      DUKE
9       FSU
10     @UVA
11
12      UNC
13      MIA
14      @GT
15      @VT
Name: PITT, dtype: object

PSU
Index(['DUKE', 'IND', 'IOWA', 'MARY', 'MICH', 'MSST', 'MSU', 'NW', 'OHST',
       'RUTG', 'UTAH', 'WISC'],
      dtype='object')
1     @DUKE
2     @MSST
3     @UTAH
4
5     @RUTG
6     @OHST
7
8     @MARY
9      IOWA
10      IND
11      MSU
12
13    @MICH
14      @NW
15     WISC
Name: PSU, dtype: object

PURD
Index(['BAMA', 'ILL', 'IOWA', 'LSU', 'MARY', 'MICH', 'MINN', 'MSU', 'NEB',
       'NW', 'VAND', 'WISC'],
      dtype='object')
SCHEDULING ERROR: VAND
1      @LSU
2
3
4     @BAMA
5      MINN
6      IOWA
7      @MSU
8      WISC
9      @ILL
10     MICH
11     @NEB
12
13     MARY
14
15       NW
Name: PURD, dtype: object

RUTG
Index(['CLEM', 'IND', 'MARY', 'MICH', 'MINN', 'MSU', 'NW', 'OHST', 'OKST',
       'PSU', 'UNC', 'WISC'],
      dtype='object')
1
2       UNC
3     @OKST
4     @CLEM
5       PSU
6        NW
7      @IND
8
9      MARY
10     OHST
11    @MINN
12     MICH
13     WISC
14
15      MSU
Name: RUTG, dtype: object

SCAR
Index(['ARK', 'ASU', 'FLA', 'ILL', 'KENT', 'LSU', 'MIZZ', 'TAMU', 'TENN',
       'UGA', 'VAND', 'ZONA'],
      dtype='object')
1      ZONA
2
3       ILL
4       ASU
5     @KENT
6       LSU
7     @TENN
8
9     @VAND
10      UGA
11      ARK
12     MIZZ
13
14     @FLA
15     TAMU
Name: SCAR, dtype: object

STAN
Index(['CAL', 'COL', 'DUKE', 'MSU', 'ORE', 'ORST', 'TENN', 'UCLA', 'UTAH',
       'WASH', 'WSU', 'ZONA'],
      dtype='object')
SCHEDULING ERROR: ZONA
1
2     @DUKE
3      TENN
4      @MSU
5      @WSU
6       COL
7      @ORE
8     @UCLA
9     @ORST
10     @CAL
11
12
13
14     WASH
15     UTAH
Name: STAN, dtype: object

TAMU
Index(['ARK', 'AUB', 'BAMA', 'CAL', 'LSU', 'MISS', 'MSST', 'SCAR', 'TENN',
       'TTU', 'VAND', 'WAKE'],
      dtype='object')
1      @TTU
2
3       CAL
4      WAKE
5     @VAND
6      @AUB
7      MSST
8
9     @BAMA
10    @MISS
11
12     @ARK
13     @LSU
14    @TENN
15    @SCAR
Name: TAMU, dtype: object

TCU
Index(['BAY', 'BC', 'ISU', 'KAN', 'KSU', 'NCST', 'OKLA', 'OKST', 'TEX', 'TTU',
       'UNC', 'WVU'],
      dtype='object')
1     NCST
2
3     @UNC
4       BC
5     @ISU
6      TTU
7     @BAY
8      KSU
9      TEX
10    OKST
11     WVU
12     KAN
13
14
15    OKLA
Name: TCU, dtype: object

TENN
Index(['ARK', 'FLA', 'KENT', 'MISS', 'MIZZ', 'OKST', 'SCAR', 'STAN', 'TAMU',
       'UGA', 'VAND', 'WSU'],
      dtype='object')
SCHEDULING ERROR: UGA
1       WSU
2
3     @STAN
4      OKST
5
6       FLA
7      SCAR
8      MISS
9      @ARK
10     VAND
11
12     KENT
13     MIZZ
14     TAMU
15
Name: TENN, dtype: object

TEX
Index(['BAY', 'ISU', 'KAN', 'KSU', 'LSU', 'MARY', 'NW', 'OKLA', 'OKST', 'TCU',
       'TTU', 'WVU'],
      dtype='object')
1       @NW
2
3      MARY
4       LSU
5
6      @KAN
7     @OKLA
8       ISU
9      @TCU
10      WVU
11     @BAY
12      KSU
13     @TTU
14
15     OKST
Name: TEX, dtype: object

TTU
Index(['AUB', 'BAY', 'ISU', 'KAN', 'KSU', 'MICH', 'OKLA', 'OKST', 'TAMU',
       'TCU', 'TEX', 'WVU'],
      dtype='object')
SCHEDULING ERROR: WVU
1      TAMU
2      @AUB
3
4      @KAN
5     @MICH
6      @TCU
7     @OKST
8
9
10
11    @OKLA
12     @BAY
13      TEX
14      ISU
15     @KSU
Name: TTU, dtype: object

UCLA
Index(['ASU', 'BAY', 'CAL', 'COL', 'GT', 'NW', 'ORE', 'ORST', 'STAN', 'USC',
       'UTAH', 'ZONA'],
      dtype='object')
1
2      @BAY
3        GT
4        NW
5      @ASU
6      ZONA
7      @USC
8      STAN
9     @UTAH
10     @COL
11
12
13    @ORST
14     @ORE
15      CAL
Name: UCLA, dtype: object

UGA
Index(['AUB', 'BAMA', 'FLA', 'GT', 'ISU', 'KENT', 'MIZZ', 'MSST', 'SCAR',
       'TENN', 'VAND', 'WSU'],
      dtype='object')
SCHEDULING ERROR: TENN
1       @GT
2       ISU
3
4      @WSU
5     @MSST
6     @VAND
7
8
9      KENT
10    @SCAR
11    @MIZZ
12
13     @AUB
14    @BAMA
15     @FLA
Name: UGA, dtype: object

UNC
Index(['BAY', 'BC', 'CUSE', 'DUKE', 'GT', 'MIA', 'PITT', 'RUTG', 'TCU', 'UVA',
       'VT', 'WAKE'],
      dtype='object')
1      @BAY
2     @RUTG
3       TCU
4       MIA
5        GT
6     @WAKE
7     @CUSE
8        VT
9      DUKE
10
11      UVA
12    @PITT
13
14       BC
15
Name: UNC, dtype: object

USC
Index(['ARK', 'ASU', 'CAL', 'COL', 'OKLA', 'ORE', 'UCLA', 'UTAH', 'VT', 'WASH',
       'WSU', 'ZONA'],
      dtype='object')
1      OKLA
2       @VT
3       ARK
4
5     @UTAH
6       CAL
7      UCLA
8
9      ZONA
10     @WSU
11
12     @ORE
13      ASU
14      COL
15     WASH
Name: USC, dtype: object

UTAH

Index(['ASU', 'COL', 'KSU', 'ORST', 'PSU', 'STAN', 'UCLA', 'USC', 'WASH',
       'WSU', 'WVU', 'ZONA'],
      dtype='object')
SCHEDULING ERROR: ZONA
1
2      @WVU
3       PSU
4      @KSU
5       USC
6
7       COL
8      @WSU
9      UCLA
10     @ASU
11
12
13     WASH
14     ORST
15    @STAN
Name: UTAH, dtype: object

UVA
Index(['CLEM', 'DUKE', 'FSU', 'GT', 'ISU', 'LOU', 'MARY', 'MIA', 'MINN',
       'PITT', 'UNC', 'VT'],
      dtype='object')
1      @ISU
2      MARY
3
4     @MINN
5      @LOU
6      @MIA
7       @VT
8       @GT
9     @CLEM
10     PITT
11     @UNC
12      FSU
13     DUKE
14
15
Name: UVA, dtype: object

VAND
Index(['AUB', 'FLA', 'GT', 'IOWA', 'KENT', 'MISS', 'MIZZ', 'PURD', 'SCAR',
       'TAMU', 'TENN', 'UGA'],
      dtype='object')
SCHEDULING ERROR: PURD
1
2        GT
3      IOWA
4
5      TAMU
6       UGA
7      KENT
8
9      SCAR
10    @TENN
11    @MISS
12      FLA
13
14     MIZZ
15      AUB
Name: VAND, dtype: object

VT
Index(['ASU', 'CUSE', 'DUKE', 'GT', 'MIA', 'NCST', 'PITT', 'UNC', 'USC', 'UVA',
       'WAKE', 'WVU'],
      dtype='object')
SCHEDULING ERROR: WAKE
1      @ASU
2       USC
3
4       WVU
5      CUSE
6     @NCST
7       UVA
8      @UNC
9
10     DUKE
11       GT
12
13
14      MIA
15     PITT
Name: VT, dtype: object

WAKE
Index(['BC', 'CLEM', 'CUSE', 'FSU', 'IND', 'LOU', 'MIA', 'MINN', 'NCST',
       'TAMU', 'UNC', 'VT'],
      dtype='object')
SCHEDULING ERROR: VT
1      MINN
2      @IND
3
4     @TAMU
5
6       UNC
7       MIA
8       FSU
9       @BC
10
11
12     CUSE
13     NCST
14    @CLEM
15     @LOU
Name: WAKE, dtype: object

WASH
Index(['ARK', 'ASU', 'CAL', 'COL', 'FSU', 'KAN', 'ORE', 'ORST', 'STAN', 'USC',
       'UTAH', 'WSU'],
      dtype='object')
1       ARK
2
3      @FSU
4
5       KAN
6       ASU
7
8      @CAL
9       COL
10    @ORST
11     @ORE
12     @WSU
13    @UTAH
14    @STAN
15     @USC
Name: WASH, dtype: object

WISC
Index(['ILL', 'IOWA', 'MIA', 'MINN', 'NEB', 'NW', 'OHST', 'ORE', 'PITT', 'PSU',
       'PURD', 'RUTG'],
      dtype='object')
1     @PITT
2       MIA
3
4       NEB
5      @ORE
6
7      IOWA
8     @PURD
9     @OHST
10      @NW
11
12    @MINN
13    @RUTG
14      ILL
15     @PSU
Name: WISC, dtype: object

WSU
Index(['ASU', 'CAL', 'COL', 'NW', 'ORE', 'ORST', 'STAN', 'TENN', 'UGA', 'USC',
       'UTAH', 'WASH'],
      dtype='object')
1     @TENN
2       @NW
3
4       UGA
5      STAN
6      @ORE
7       CAL
8      UTAH
9
10      USC
11      ASU
12     WASH
13      COL
14
15    @ORST
Name: WSU, dtype: object

WVU
Index(['BAY', 'FLA', 'ISU', 'KAN', 'KSU', 'OKLA', 'OKST', 'TCU', 'TEX', 'TTU',
       'UTAH', 'VT'],
      dtype='object')
SCHEDULING ERROR: TTU
1      @FLA
2      UTAH
3
4       @VT
5     @OKST
6
7
8     @OKLA
9       BAY
10     @TEX
11     @TCU
12     @ISU
13     @KAN
14      KSU
15
Name: WVU, dtype: object

ZONA
Index(['ASU', 'CAL', 'COL', 'MISS', 'MSU', 'ORE', 'ORST', 'SCAR', 'STAN',
       'UCLA', 'USC', 'UTAH'],
      dtype='object')
SCHEDULING ERROR: STAN
SCHEDULING ERROR: UTAH
1     @SCAR
2      MISS
3       MSU
4      @ORE
5
6     @UCLA
7     @ORST
8
9      @USC
10
11     @COL
12      ASU
13     @CAL
14
15
Name: ZONA, dtype: object

In [8]:
weekly

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
ARK,@WASH,,@USC,@MIZZ,@KSU,,BAMA,LSU,TENN,@AUB,@SCAR,TAMU,,@MSST,@MISS
ASU,VT,,@PITT,@SCAR,UCLA,@WASH,,@COL,,UTAH,@WSU,@ZONA,@USC,@CAL,@ORE
AUB,IND,TTU,KAN,@FLA,MISS,TAMU,LSU,,,ARK,MSST,BAMA,UGA,,@VAND
BAMA,@CAL,,BC,PURD,LSU,KENT,@ARK,,TAMU,MSST,FLA,@AUB,MISS,UGA,
BAY,UNC,UCLA,MISS,@ISU,OKLA,,TCU,@OKST,@WVU,@KSU,TEX,TTU,,,@KAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WASH,ARK,,@FSU,,KAN,ASU,,@CAL,COL,@ORST,@ORE,@WSU,@UTAH,@STAN,@USC
WISC,@PITT,MIA,,NEB,@ORE,,IOWA,@PURD,@OHST,@NW,,@MINN,@RUTG,ILL,@PSU
WSU,@TENN,@NW,,UGA,STAN,@ORE,CAL,UTAH,,USC,ASU,WASH,COL,,@ORST
WVU,@FLA,UTAH,,@VT,@OKST,,,@OKLA,BAY,@TEX,@TCU,@ISU,@KAN,KSU,
ZONA,@SCAR,MISS,MSU,@ORE,,@UCLA,@ORST,,@USC,,@COL,ASU,@CAL,,

In [9]:
weekly.to_csv("weeklySchedule2020.csv")